h2 {
	margin-left: 3.5%;
	font-weight: lighter;
}

.grid-container {
	max-width: 95%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(410px, 429px));
	grid-auto-rows: 160px;
	grid-gap: 25px;
	margin: auto;
	justify-content: center;
}

.grid-item {
	border: 2px solid #d3d3d3;
	display: block;
	border-radius: 10px;
}

.image {
	float: left;
	display: block;
	height: 7em;
	width: 7em;
	margin: 21px;
	border-radius: 100%;
	background-repeat: no-repeat;
}

.text {
	margin-top: 35px;
}

.name {
	margin-bottom: -8px;
	font-stretch: extra-expanded;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
	text-transform: capitalize;
}

.email,
.city {
	font-family: Helvetica;
	font-weight: normal;
	color: grey;
}

.email {
	font-size: 14px;
	margin-bottom: -10px;
}

.city {
	font-size: 15px;
}
