h2 {
	margin-left: 3.5%;
	font-weight: normal;
}

.grid-container {
	border: 1px solid red;
	max-width: 95%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(410px, 429px));
	grid-auto-rows: 160px;
	grid-gap: 25px;
	margin: auto;
	justify-content: center;
}

.grid-item {
	border: 2px solid #d3d3d3;
	display: block;
	border-radius: 10px;
}

.image {
	float: left;
	border: 1px solid green;
	display: block;
	height: 7em;
	width: 7em;
	margin: 21px;
	border-radius: 100%;
	background-image: url("http://placeimg.com/100/100/any");
}

.text {
	border: 1px solid green;
	float: right;
	margin-right: 55px;
	margin-top: 20px;
}

.name {
	border: 1px solid blue;
	margin-bottom: -8px;
	font-stretch: extra-expanded;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
}

.email,
.city {
	font-size: 15px;
	font-family: Helvetica;
	font-weight: normal;
	color: grey;
}

.email {
	border: 1px solid orange;
	margin-bottom: -10px;

}

.city {
	border: 1px solid purple;
}
